h4{
  color : white
}

h6{
  color : white
}

.wbdv-page-tab{
  color : white

}

.wbdv-module-item{
  background-color : dimgray;
}

.fa-right{
  position : absolute;
  right : 10px;
  top : 15px;
  bottom : 15px;
  color : white;
}